{% extends 'classroom/base.html' %}
{% load static %}
{% block content %}

{% if messages %}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
  {% for message in messages %}
    <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
  {% endfor %}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<div class="banner">
      <img src="{% static 'images/first.PNG' %}" alt="">
      <div class="content">
        <h1>Class info</h1>
        <p>Student-Teacher</p>
      </div>
    </div>

   



    <div class="social">
      <h1>kindly reach to admin if you face any problem</h1>
      <h3>ashish yadav.</h3>
      
    </div>

{% endblock %}
